:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
  --backround-color: #012D63;
  --main-backround-color: #021635;
  --main-nav-color: #C7C7C7;
  --main-text-color: #FFFFFF;
  --my-button-color: #8E32C6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  background-color: var(--main-backround-color);
  scroll-behavior: smooth;
}



.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid red; */
}

#header {
  background-color: var(--backround-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

#header .current {
  font-weight: 400;
  font-size: 24px;
  color: var(--main-text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item>a {
  font-weight: 300;
  font-size: 24px;
  color: var(--main-nav-color);
}

.header-item>a:hover{
  color: var(--main-text-color);
}

.header-list-languages {
  display: flex;
  gap: 8px;
}

.header-item-languages>a {
  font-weight: 300;
  font-size: 24px;
  color: var(--main-nav-color);
}

.hero {
  /* width: 1440px; */
  /* height: 858px; */
  padding-top: 96px;
  padding-bottom: 183px;
  background-image: url(./imges/hero-bc.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  /* margin: 0 auto; */
}

.hero_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 144px;
  color: var(--main-text-color);
}

.hero_subtitle{
  margin-left: 12px;
  margin-top: -20px;
  font-family: var(--second-family);
font-weight: 400;
font-size: 72px;
color: var(--main-text-color);
}

.hero_text{
  margin-top: 12px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #fff;
}

.hero-button {
  margin-top: 40px;
  display: inline-block;
  background-color: var(--my-button-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--main-text-color);
  border-radius: 10px;
  padding: 20px 60px;
}

.hero-button:hover{
  background-color: #844dd1;
}

#benefits{
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url(./imges/benefits-backround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefits-list p{
  font-family: var(--second-family);
font-weight: 400;
font-size: 36px;
text-align: center;
color: #fff;
}

.benefits-list{
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 5px solid var(--my-button-color);
  padding: 24px 50px;
}

.benefits-item:nth-child(2){
  display: flex;
  flex-direction: column-reverse;
  border-right:1px solid var(--main-text-color) ;
  border-left: 1px solid var(--main-text-color) ;
  padding: 0 94px;
}

#reviews {
  padding-top: 24px;
  padding-bottom: 112px;
  /* width: 1440px;
  height: 520px; */ 
  border: 2px solid var(--main-text-color);
  background-image: url(./imges/flowers.svg), url(./imges/bc-reviews.png);
  background-repeat: no-repeat;
  background-position: left bottom, center;
  background-size: 225px 380px, cover;
  /* margin: 0 auto; */
}

#reviews h2{
margin-bottom: 24px;
  font-family: var(--second-family);
font-weight: 400;
font-size: 48px;
text-align: center;
color: #fff;
}

.reviews-list{
display: flex;
justify-content: center;
gap: 94px;
}

.reviews-item{
  width: 255px;
  height: 292px;
  border-radius: 15px;
}

.reviews-item-wraper{
  padding-top: 48px;
  /* padding-right: 12px; */
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 28px;
}

.reviews-item:nth-child(1){
background-image: url(./imges/reviews-child1.png);
box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
}

.reviews-item:nth-child(2){
background-image: url(./imges/reviews-child2.png);
box-shadow:0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
}

.reviews-item:nth-child(3){
  background-image: url(./imges/reviews-child3.png);
  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
}

.reviews-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
}

.reviews-date{
  padding-top: 8px;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #d8d8d8;
}

.reviews-name{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #fff;
}

.reviews-date-autor{
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #d8d8d8;
}

.reviews-autor-wrapper{
  display: flex;
  margin-top: 48px;
  gap: 5px;
}

#order{
  padding-top: 20px;
  padding-bottom: 36px;
  background-image: url(./imges/bc-order.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#order h2{
  margin-bottom: 32px;
  font-family: var(--second-family);
font-weight: 400;
font-size: 48px;
text-align: center;
color: #fff;
}


.order-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--main-nav-color);
}

.order-email-button{
  /* display: block; */
  background-color: var(--main-text-color);
  color: var(--main-nav-color);
  border-left:1px solid #959595;

  font-family: var(--font-family);
font-weight: 400;
font-size: 28px;
color: #8d8d8d;
padding: 13px 78px;

}

.order-form > label:first-child{
    width: 690px;
  height: 60px;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--main-text-color);
  align-items: center;
}

.order-button{
  border-radius: 16px;
width: 248px;
height: 68px;
background-color: var(--my-button-color);
color: var(--main-text-color);
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
}

.order-button:hover{
  background-color: #844dd1;
}

.order-form input{
  border-radius: 50px;
width: 580px;
height: 50px;
padding-left: 28px;
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #959595;
border: none;
outline: none;
}

footer {
  padding-top: 44px;
  padding-bottom: 48px;
}

#contacts{
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 20px;

}

.contacts-email-list{
  text-decoration: underline;
}

.offer-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-email-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.bottom-info{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  /* padding-bottom: 48px; */
}

.bottom-info-text:first-child{
  margin-bottom: 7px;
}

.bottom-info > img{
  width: 108px;
  height: 84px;
}